.navbar{
    display: flex;
    justify-content: space-between;
    height: 5.25rem;
    /* background-color: blue; */
    padding: 0.75rem 1rem;
    border-bottom: 1px solid gainsboro;
    padding-top: 0.5rem;
}
.leftdiv .rightDiv{
    padding: 1rem 0;
}
.rightDiv{
    display: flex;
    justify-content: space-evenly;
    margin-right: 5rem;
    padding-inline: 1rem;
}
.rightDiv div{
   align-content: center;
    margin-top: 1rem;
    height: 2.5rem;
}
.rightDiv .navlink{
    text-decoration: none;
    color: black;
    padding: 0.5rem 1rem;
     border-radius: 0.5rem;
}
.leftDiv{
    display: flex;
}

.leftDivLink{
    text-decoration: none;
}
.leftDiv h3{
    display: inline-block !important;
}
.leftDiv .logo{
    margin-left: 1rem;
    height: 3rem;
    width: 3.35rem;
    margin-right: 0.5rem;
    
}
.logo img{
    background-color: white;
    border: 0 solid transparent;
    
}
.leftDiv h3{
    font-size: 1.5rem;
    font-weight: 650;
}
.leftDiv h3>p{

    font-size: 1rem;
    font-weight: 400;
}

.rightDiv .selected{
    background-color: #0846AA;
    color: white;
}
.selected span{
    color: white;
}

