.attach2{
     
     margin:0;
   
    background:#f2f2f2;
    font-family:"Noto Sans Devanagari", Arial, sans-serif;


     border: 3px solid #8b1d1d;
     color: #8b1d1d;

     width: 39rem;
    background:#fff;
    margin:auto;
    padding:10px;
    box-shadow:0 0 10px rgba(0,0,0,.15);
     min-height: 62rem !important;
    height: fit-content !important;
}

.attachBox2{
   
    height: 60rem;
}