.infoBox{
    width: 95%;
    height: 4rem;
  
   /* background-color: #F8FAFC; */

   background-color: #FFFFFF;
box-shadow: 0 2px 10px rgba(0,0,0,0.08);
border-radius: 8px;

    margin: 0 auto;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    border: 2px solid black;
    transition: all 0.3s ease-in-out;
   
}
.infoBox:hover{
    scale: 1.05;

}

.infoBox div{
    padding: 0.5rem;
    width: 100%;
  
    margin-inline-start: 1rem;
}

.infoBox i{
    margin: 1rem;
}